*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100%;
    background: #212020;
}

.container{
    background: #fff;
    padding: 35px;
    width: 400px;
    margin: 100px auto;
    box-shadow: 15px 30px 35px rgb(0, 0, 0,0.1);
    border-radius: 10px;
}

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 32px auto;
    transform-style: preserve-3d;
}

.coin img{
    width: 100%;
}

.heads , .tails{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.tails{
    transform: rotateX(180deg);
}

.button{
    width: 150px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}


@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
